.side-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    height: 45px;
    .side-title {
        color: "rgb(0, 167, 111)";
        font-size: 18px;
        font-weight: 600;
        font-family: fantasy;
        margin-left: 10px;
    }
    img {
        width: 50px;
        height: 100%;
        animation: rotate 5s linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
