.area-download {
    flex-direction: column;
    header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-self: start;
    }
    main {
        width: 100%;
    }
}
