.top-card-div1 {
    flex-grow: 1;
    min-width: 120px;
    h6 {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
    }
    .div2 {
        margin-bottom: 14px;
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        .div3 {
            margin-left: 10px;
        }
    }
    h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }
}
.top-card-div4 {
    flex-grow: 1;
    justify-items: end;
}
