.upload-card {
    display: flex;
    flex-direction: column;
    padding: 80px 24px 40px !important;
    .tips {
        width: 200px;
        font-size: 12px;
        text-align: center;
    }
    .switch {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.form-btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
